.center{
    margin: auto!important;
    width: 50% !important;
    min-height: 500px;
    margin-top: 10px !important;
    padding: 5px;
    border-radius: 4px !important;
    background-color: #1c2349;
    filter: opacity(.7);
}
.center:hover{
    filter: opacity(1);

}

.title{
    color: #d08953;
}
